.container {
  padding: 12px , 40px;
  margin: 50px;
}

.title{
  color: aquamarine;
  font-size: 70px;
}
.name{
  list-style: none;
  color: rgb(137, 23, 195);
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}